.header{
	padding: 20px;
	font-size: 25px;
	color: #ffffff;
	background-color: green;
	text-align: center;
	cursor: pointer;

}
.content{
	padding: 50px;
	font-size: 16px;
	background-color: red;
	color: yellow;
	text-align: center;
}